@using SkillsHub.Application.DTO;
@inject SkillsHub.Persistence.ApplicationDbContext _context;

@model Group

@if (Model != null)
{
    Group Group = Model;

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <form class="form-valide" action="#" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                           
                            <div style="display:flex;justify-content:space-between">
                                <h2 style="margin-bottom:5%">Group </h2>
                                @if(User.IsInRole("Admin"))
                                {
                                    <div>
                                    <input type="submit" asp-action="Delete" asp-controller="Group" asp-route-id="@Model.Id" value="x" class="btn btn-outline-danger" title="The group can be restored" />
                                    <input type="submit" asp-action="HardDelete" asp-controller="Group" asp-route-id="@Model.Id" value="x" class="btn btn-danger" title="Full delete with lessons" />
                                    </div>
                                }      
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Name <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class=" col-form-label">@Model.Name</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    CourseName <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class="col-form-label">@Model.CourseName.Name</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Teacher <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <a asp-action="Item" asp-controller="Account" asp-route-itemid="@Group.Teacher.ApplicationUser.Id" class="col-form-label" style="font-weight:900;color:#7571f9">
                                        @Group.Teacher.ApplicationUser.FirstName  @Group.Teacher.ApplicationUser.Surname @Group.Teacher.ApplicationUser.LastName
                                    </a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Lesson type <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class="col-form-label">@Group.LessonType.Name</p>
                                </div>
                            </div>

                            <!--
                            <div class="form-group row">
                            <label class="col-lg-4 col-form-label">
                            Term <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                            <p class="col-form-label">Group.Term</p>
                            </div>
                            </div>
                            -->
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Date start <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class="col-form-label">@if (!Group.IsLateDateStart && Group.DateStart != DateTime.MinValue)
                                        {
                                            <span>@Group.DateStart.ToLongDateString()</span>
                                        }else
                                        {
                                            <span>Not decided</span>
                                        }
                                    </p>
                                </div>
                            </div>
                            

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Lessons count <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class="col-form-label"> @Group.Lessons.Count /  @if (!Group.IsUnlimitedLessonsCount) { <span>@Group.LessonsCount</span>} else{<span>Unlimited</span>} </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Result hours <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                    <p class="col-form-label">
                                        <span title="Passed Lessons Time In Minutes">@Group.PassedLessonsTimeInMinutes</span> /  <span title="Assigned Lessons">@Group.ResultLessonsTimeInMinutes</span> /  @if (!Group.IsUnlimitedLessonsCount)
                                        {
                                            <span title="Needed Lessons Time In Minutes">@Group.NeededLessonsTimeInMinutes</span>
                                        }
                                        else
                                        {
                                            <span>Unlimited</span>
                                        }
                                    </p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                    Students in group (@Group.GroupStudents.Count() / @Group.LessonType.MinimumStudents..@Group.LessonType.MaximumStudents)
                                </label>
                                <div class="col-lg-6">
                                    <ol>
                                        @foreach (var st in Group.GroupStudents.Select(x => x.Student))
                                        {
                                            <li><a asp-action="Item" asp-controller="Account" asp-route-itemId="@st.Id" style="font-weight:900;color:#7571f9">
                                                    @st.ApplicationUser.FirstName @st.ApplicationUser.Surname @st.ApplicationUser.LastName
                                                </a></li>
                                        }

                                    </ol>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                           
                                <h4>SHEDULE</h4>
                            
                            
                            <div class="col">
                                @foreach (var ds in Group.DaySchedules)
                                {

                                    <div class="card">
                                        <div class="card-body">
                                            <div>@ds.DayName: @ds.WorkingStartTime-@ds.WorkingEndTime</div>
                                        </div>
                                    </div>

                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <form>
                                        <!--<input type="hidden" asp-for="Model.Id" value="Model.Id"/>-->

                                        <input type="submit" value="Edit group" asp-action="Edit" asp-controller="Group" formmethod="get" asp-route-id="@Model.Id" class="btn btn-primary" />
                                    </form>
                                }

                            </div>
                        </div>
                    </div>

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="card">
                            <div class="card-body">
                                <h4>Bills</h4>
                                <div class="col">

                                    <div class="form-group" style="display:flex">
                                        <span>Current Teacher salary : ?  |  </span>
                                        <span>Full Teacher salary : ?</span>
                                    </div>

                                    <div class="form-group">
                                        <span>Current Students money : ?  |  </span>
                                        <span>Full Students money : ?</span>
                                    </div>

                                    <div class="form-group">
                                        <span>Current difference : ?  |  </span>
                                        <span>Full difference : ?</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>




                <div class="row">
                    <div style="display:flex; justify-content:space-between">
                        <h4>LESSONS</h4>
                        <div style="display:flex;"/>


                        @if (User.IsInRole("Admin"))
                        {
                            <input type="submit" asp-action="CreateBySchedule" asp-controller="Lesson" formmethod="get" asp-route-id="@Model.Id" value="+" class="btn btn-outline-primary" title="Create by credule"/>
                            <input type="submit" asp-action="Create" asp-controller="Lesson" formmethod="get" asp-route-id="@Model.Id" value="+" class="btn btn-primary" title="Create from zero info" />
                        }
                    </div>
                </div>
                @{
                    var lessons = _context.Lessons.Where(x => x.GroupId == Model.Id).ToList();
                }
                <span>Assigned @lessons.Count() out of @Model.LessonsCount; Passed @lessons.Where(x => x.EndTime.Ticks < @DateTime.Now.Ticks).Count() </span>

                <!--NAVBAR - Search, Filter, Sort-->
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">

                        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:flex;grid-gap:20px">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display:flex;grid-gap:10px">
                                <li class="nav-item">
                                    <div class="input-group icons">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                        </div>
                                        <input type="search search-input" onchange="searchLessons() id="searchByTopic" class="form-control" placeholder="Search by topic" aria-label="Search by topic">
                                       
                                    </div>
                                </li>
                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p>Passed by teacher:</p>

                                    <select class="form-control search-select" id="searchByTeacher" name="val-skill" onchange="searchLessons()">
                                        <option value="" selected></option>
                                        @if (ViewBag.Teachers != null)
                                        {
                                            @foreach (Teacher item in ViewBag.Teachers)
                                            {
                                                <option value="@item.Id">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName @item.ApplicationUser.Surname</option>
                                            }
                                        }

                                    </select>
                                </li>

                                <!--
                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p>Category:</p>

                                    <select class="form-control" id="searchByCategory" name="val-skill" onchange="changeCourseName()">
                                        <option value="" selected>All</option>
                                        <option value="" selected>Сanceled</option>
                                        <option value="" selected>Transferred</option>
                                    </select>
                                </li>
                                -->

                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p>Visited student:</p>
                                    <select class="form-control search-select" id="searchByStudent" name="val-skill" onchange="searchLessons()">
                                        <option value="" selected></option>
                                        @if (ViewBag.Students != null)
                                        {
                                            @foreach (Student item in ViewBag.Students)
                                            {
                                                <option value="@item.Id">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName @item.ApplicationUser.Surname</option>
                                            }
                                        }

                                    </select>
                                </li>

                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p>Category:</p>

                                    <select class="form-control search-select" id="searchByCategory" name="val-skill" onchange="searchLessons()">
                                        <option selected></option>
                                        <option>Passed</option>
                                        <option>Сurrent</option>
                                        <option>Deleted</option>
                                    </select>
                                </li>

                                <!--
                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p style="white-space:nowrap">Date:</p>
                                    <input type="datetime" id="searchMinDate" />
                                    <input type="date" id="searchMaxDate" />
                                </li>
                                -->


                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p style="white-space:nowrap">Order by:</p>
                                    <select class="form-control  search-select " id="sort-select" onchange="searchLessons()">
                                        <option selected></option>
                                        @{
                                            var i = "Topic StartTime".Split(" ");
                                            foreach (var a in i)
                                            {
                                                <option>@a</option>
                                            }
                                        }
                                    </select>
                                </li>

                                <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                                    <p style="white-space:nowrap">Order type:</p>
                                    <select class="form-control  search-select " id="sort-select-type" onchange="searchLessons()">
                                        <option value="asc" selected>↑</option>
                                        <option value="desc">↓</option>
                                    </select>
                                </li>
                                <li class="nav-item">
                                    <input type="button" onclick="resetSearch()" class="btn btn-primary btn-sm" style="margin-left:5px;  " value="Reset" />
                                    <input type="button" onclick="searchLessons()" class="btn btn-primary btn-sm" style="margin-left:5px;  " value="Search" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>



                <div id="lessonsList" >
                    <!--await Html.PartialAsync("_LessonsList")-->
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </form>



	


    <script>

        function resetSearch() {

            $('.search-input').val('');
            // Reset select elements
            $('.search-select').prop('selectedIndex', 0);

            // Trigger the search
            searchLessons();
        }

        function searchLessons() {


            var filters = {}
            var orders = {}

            try {

                filters = {
                    GroupId : '@Model.Id',
                    Topic: $('#searchByTopic').val(),
                    TeacherId: $('#searchByTeacher').val(),
                    StudentId: $('#searchByStudent').val(),
                    GroupId: '@Model.Id',
                    Category: $("#searchByCategory").val(),
                };

                orders = {
                    OrderColumn: $('#sort-select').val(),
                    OrderType: $('#sort-select-type').val(),
                }

                $("#lessonsList").load("/Lesson/FilterLessons", { filters: filters, order: orders });

                // Perform further actions with the selected values, such as filtering or sending a request
                console.log(filters);
            }
            catch (ex) { console.log(ex); }

        }

        //------------------------------------------------------------------


        $(document).ready(function () {
           
            searchLessons();
            
        });


        

        function CreateNewLesson() { 
        var list = document.getElementById("allLessons");
        var count = document.getElementsByClassName("lessonInGroup").count; //id of new element;


        var appendLine = "<div class='col lessonInGroup"+ count + "+'><form method = 'post' ><div class='card' style = 'margin:1%' ><div class='card-body'>"
        appendLine+= "<div style='display:flex; justify-content:space-between'>"
        appendLine += "<div>" + count + ".  New not saved item  </div>"
        appendLine += "<input type='button' onclick='DeleteNewLesson(" + count + ")' value='X' class='btn btn-danger' />"
        appendLine += "</div>"
        appendLine += "<div style='display:flex; justify-content:space-between'><div style='display:flex; grid-gap:5%'>"
        appendLine += "<input type='time' name = 'startTime' asp-for='item.StartTime' /> -"
        appendLine += "<input type='time' name = 'endTime' asp-for='item.EndTime' />"
        appendLine += "</div>"
        appendLine += "<input type = 'submit' asp-action='Create' asp-controller='Lessons'  value = 'Save' class='btn btn - primary' />"
        appendLine += "</div>"

        appendLine += "</div></div></form></div>"
        list.appendChild(appendLine);

        }

        function DeleteNewLesson(count) {
        var elem = document.getElementsByClassName("lessonInGroup" + count);
        elem.outerHTML = "";

        }

        function RequestToChangeLesson(itemId) {
        //Serialize the form datas.

            var valdata = $("#lesson" + itemId).serialize();
            var data = JSON.stringify($("#lesson" + itemId).serializeArray()); //  <-----------

            console.log(valdata)

            console.log("----")
            console.log(data);

            //to get alert popup
            $.ajax({
            url: "/Request/Edit",
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: valdata

            });
            alert("Request was send");

        //$("<div>Saved</div>").insertAfter($("#lessonTypeForm"));

        }

        function RequestToDeleteLesson(itemId) {
            //Serialize the form datas.

            var valdata = { id: itemId };
            

            //to get alert popup
            $.ajax({
                url: "/Request/Delete",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata

            });
            alert("Request was send");

            //$("<div>Saved</div>").insertAfter($("#lessonTypeForm"));

        }


    </script>

    <!-- #/ container -->
}