@model List<PaymentCategory>?;
@{
	ViewData["Title"] = "Create";
}

@{
    var items = Model.Where(x=>x.ParentId != Guid.Empty).ToList();
}

<style>

    .column {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div style="display:flex; justify-content:space-between;align-items:center;margin:5px">
                        <h2 class="card-title">Абонементы</h2>
                        <form>
                            <div><input type="submit" class="btn btn-primary" value="+" asp-action="Create" asp-controller="PaymentCategory" /></div>
                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Статус</th>
                                    <th>Название</th>
                                    <th>Цена для студентов</th>
                                    <th>Цена для учителей</th>

                                    <th>Кол-во занятий</th>
                                    <th>Последнее обновление</th>
                                    <th>Дата создания</th>
                                    </tr>
                                <tr>
                            </thead>
                            <tbody>
                                @foreach (var item in items)
                                    {
                                    <tr id="@item.Id">
                                            
                                            <input type="hidden" asp-for="@item.Id"/>
                                
                                            
                                            
                                            <td>@item.Status </td>
                                        <td class="column">
                                                <form><a asp-action="Create" asp-controller="PaymentCategory" asp-route-itemId="@item.Id" style="color:#7571f9">  @item.Name </a></form>
                                            </td>
                                            <td>@item.StudentDisplayName.Replace("0000","0") </td>
                                            <td>@item.TeacherDisplayName.Replace("0000","0") </td>
                                            <td>@item.MinCountLessonsToPay</td>
                                            <td>@item.DateCreated</td>
                                            <td>@item.DateRegistration </td>
                                        
                                    </tr>
                            }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Статус</th>
                                    <th>Название</th>
                                    <th>Цена для студентов</th>
                                    <th>Цена для учителей</th>
                                    
                                    <th>Кол-во занятий</th>
                                    <th>Последнее обновление</th>
                                    <th>Дата создания</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                       
                </div>
            </div>
        </div>
    </div>
</div>

    
