@model PaymentCategory?;
@{
	ViewData["Title"] = "Create";
}

@if (Model == null)
{
    
}
else
{
    var itemName = Model.Id;
    var formId = "paymentType" + itemName;

    <tr>
        <form id="@formId">
        <td>
                @if (Model.IsDeleted == false)
                {
                <a asp-action="Item" asp-controller="PaymentCategory" asp-route-itemId="@Model.Id" style="font-weight:900;color:#7571f9"><input class="form-control" type="text" asp-for="@Model.Name" required style="min-width:200px " /> </a>
                }
                else
                {
                <a asp-action="Item" asp-controller="PaymentCategory" asp-route-itemId="@Model.Id" style="font-weight:900;color:red">  <input class="form-control" type="text" asp-for="@Model.Name" required style="min-width:200px " /> </a>
                }
        </td>
        <td>
                @if (Model.IsDeleted)
                {
                <select class="form-control" id="Select1" name="Select1" style="min-width:100px " asp-for="@Model.IsDeleted">
                    <option>Active</option>
                    <option selected="selected">Not active</option>
                </select>
                }
                else
                {
                <select class="form-control" id="Select1" name="Select1" style="min-width:100px " asp-for="@Model.IsDeleted">
                    <option selected="selected">Active</option>
                    <option>Not active</option>
                </select>
                }

        </td>
        <td>@Model.DateCreated</td>
        <td><input class="form-control" type="number" asp-for="@Model.TeacherPrice" required min="0" /></td>
        <td><input class="form-control" type="number" asp-for="@Model.StudentPrice" min="0" /></td>
        <td>
        </td>

        <td>
            <button class="btn btn-danger btn-sm" style="height:2%" type="submit" asp-action="ChangeActiveStatus" asp-controller="PaymentCategory" value="@Model.Id">
                <div></div>
            </button>
        </td>
        </form>
    </tr>
    }
