@using SkillsHub.Domain.BaseModels;
@using SkillsHub.Domain.Models;
@model List<LessonType>;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _roleManager;
@inject SkillsHub.Persistence.ApplicationDbContext _context;

@{
    var items = Model.ToList() ?? new List<LessonType>(); 
    string[] fieldValues = new string[] { "Активный", "Название", "Курс", "Тип возраста", "Тип группы", "Местоположение", "Продолжительность урока","Продолжительность курса", "Категории оплаты", "Последнее обновление", "" };

     }
        
        
                
 <div class="container-fluid">
     <div class="row">
         <div class="col-12">
             <div class="card">
                 <div class="card-body">
             <div style="display:flex; justify-content:space-between;align-items:center;margin:5px">
                 <h2 class="card-title">Категории занятий</h2>
                 <form>
                     <div><input type="submit" class="btn btn-primary" value="+" asp-action="Create" asp-controller="LessonType"/></div>
                 </form>
             </div>
                     
                             <div class="table-responsive">
                                 <table class="table table-striped table-bordered zero-configuration">
                                     <thead>
                                         <tr>
                                             @foreach(var i in fieldValues)
                                             {
                                                 <th>@i</th>
                                             }
                                             <!--
                                             <th>Active</th> 
                                             <th>Full Name</th> 
                                             <th>Course</th>
                                             <th>Age type</th>
                                             <th>Group type</th>
                                             <th>Location</th>
                                             <th>Lesson`s duration</th>
                                             <th>Payment categories</th>
                                             <th>Last update</th>
                                             <th></th>
                                             
                                             <th>Count teachers/students/groups</th>
                                             <th>Actions</th>-->
                                         </tr>
                                     </thead>
                             <tbody id="partialContainer">
 
                     
                                     @foreach (var item in items)
                     {
                             <tr id="@item.Id">
                                 
                                              <input type="hidden" asp-for="@item.Id"/>
                                
                                             <td>
                                                 @item.Status
                                             </td>
                                             <td>
                                                
                                                     <a asp-action="Create" asp-controller="LessonType" asp-route-itemId="@item.Id" style="font-weight:900;color:#7571f9">  @(item.Name ?? "Без названия") </a>
 
                                                
                                             </td>
                                             <td>
                                                @item?.Course?.DisplayName
                                             </td>
                                             <td>
                                                 @item?.AgeType?.DisplayName  
                                             </td>
                                             <td>
                                                @item?.GroupType?.DisplayName
                                             </td>
                                             <td>
                                                @item?.Location?.DisplayName
                                             </td>
                                             <td>@item.LessonTimeInMinutes мин</td>
                                             <td>@item.PreparedDurationTextRu</td>
                                             <td>
                                            @{
                                                var payments = item?.LessonTypePaymentCategory?.Select(x => x.PaymentCategory);
                                            }
                                                @foreach (var pCat in payments)
                                                {
                                                    <div>@pCat.FullDisplayName</div>
                                                }                    
                                             </td>
                                             <td>@item.DateCreated</td>
                                             <td style="display:flex">

                                             </td>
                                     
                                 
                                 
                             </tr>
                     }
                     
                             </tbody>
                             <tfoot>
                                 <tr>
                                    @foreach (var i in fieldValues)
                                    {
                                        <th>@i</th>
                                    }
                                 </tr>
                             </tfoot>
                         </table>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>


                </div>
            </div>
        </div> 
    </div>
</div>
-->

    <script>

        function Create(){
            
        //var tr = document.createElement('tr');
        

        // Создание элемента form
        //var form = document.createElement('form');

        



         $.get('/LessonType/CreateRowAsync', function (data) {
                 $('#partialContainer').append(data);

                 //form.innerHTML = data;

                //tr.setAttribute('id', data.Id)
                //form.setAttribute('id', 'form' + data.Id);
            });

        // Вставка элемента form внутрь элемента tr
        //tr.appendChild(form);

        // Вставка созданного HTML-кода в ваш документ
        //$('#partialContainer').append(tr);



        } 




        var filters_LessonType = {
        "filter-subjectId": $("#subject-select option:selected").val(),
        "filter-courseId": $("#course-select option:selected").val(),
        "filter-groupTypeId": $("#groupType-select option:selected").val(),
        "filter-locationType": $("#locationType-select option:selected").val(),
        "filter-ageTypeId": $("#ageType-select option:selected").val(),
        "IsDeleted": '-'

        }
        var orders = {
        OrderColumn: "Id",
        OrderType: "asc",
        }


        function getAgeTypes() {
        $("#ageType-select").load("/AgeTypes/OptionsList", { itemId : $("#subject-select option:selected").val() })
        }
        function getGroupTypes() {
        $("#groupType-select").load("/AgeTypes/OptionsList", { itemId : $("#subject-select option:selected").val() })
        }
        function getCourses() {
        $("#courses-select").load("/AgeTypes/OptionsList", { itemId : $("#subject-select option:selected").val() })
        }

        //---------------------------------------------------------------





        function GetSubjects() {
            console.log($("#subject-select option:selected").val());
            console.log(typeof ($("#subject-select option:selected").val()))

            $("#subject-select").load("/Subject/OptionsList", { subjectId: $("#subject-select option:selected").val() }, function (responseTxt, statusTxt, xhr) {
            if (statusTxt == "success")
            console.log("External content loaded successfully!");
            if (statusTxt == "error")
            console.log("Error: " + xhr.status + ": " + xhr.statusText);
            })
        };

        

        //-------------------------------------




                    //LessonType - Row

            </script>

