@using SkillsHub.Domain.BaseModels;
@model LessonType;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _roleManager;
@inject SkillsHub.Persistence.ApplicationDbContext _context;

@{
    var item = Model ?? new LessonType() ;
    var formId = "form"+ item.Id.ToString();
}

<form id="@formId">

<tr id="@item.Id">


        <input type="hidden" asp-for="@item.Id" />

    <td>
        <input type="checkbox" asp-for="@item.IsActive" />
    </td>
    <td>
            @if (item.IsDeleted == false)
            {
            <a asp-action="Item" asp-controller="Account" asp-route-itemId="@item.Id" style="font-weight:900;color:#7571f9">  @item.Name </a>

            }
            else
            {
            <a asp-action="Item" asp-controller="Account" asp-route-itemId="@item.Id" style="font-weight:900;color:red">  @item.Name </a>
            }
    </td>
    <td>

        <select class="form-select" asp-for="@item.CourseId"></select>
    </td>
    <td>
        <select class="form-select" asp-for="@item.AgeTypeId" onchange="getAgeTypes()"></select>
    </td>
    <td>
        <select class="form-select" asp-for="@item.GroupTypeId"></select>
        <!--
        <button type="button" onclick="getAgeTypes()" class="btn btn-primary" style="zoom:60%">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
            </svg>
        </button>-->
    </td>
    <td>
        <select class="form-select" asp-for="@item.LocationId" onchange="getLocations()"></select>
    </td>
    <td><input class="form-control" asp-for="@item.LessonTimeInMinutes" min="10" name="LessonTimeInMinutes" /></td>
    <td>



        <select class="selectpicker" multiple aria-label="Default select example" data-live-search="true">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>
                @foreach (var pCat in _context.PaymentCategories.Where(x => !x.IsDeleted))
                {
                <option name="paymentCategory" value="@pCat.Id">@pCat.Name</option>
                }

        </select>


    </td>
    <td>@item.DateCreated</td>
    <td style="display:flex">
        <input type="button" class="btn btn-success" onclick="Save('@formId')" value="Сохранить" />
        <input type="submit" class="btn btn-success" asp-action="Create" asp-controller="LessonType" value="Сохранить2" />

        <input type="button" class="btn btn-danger" onclick="Remove('@item.Id')" value="Х" />
    </td>
</tr>
</form>


<script>
    function Remove(itemId) {

    @{
        var itemGuid = Guid.Empty;
    }
    @itemGuid = itemId;

    @{
        var itemDb = _context.LessonTypes.Find(itemGuid);
        var result = (itemDb != null);
    }
                    var res = @result.ToString().ToLower().Trim();
        var bobo = JSON.parse(res);
        console.log(bobo)
        if (!bobo) {
            console.log("okokok")
            $('#' + itemId + '').remove();
        }
        else {
            console.log("kokokp");
            var postData = {
                itemId: itemId,
            };

            $.ajax({
                type: 'POST',
                url: '/LessonType/DeleteAsync',
                data: postData,
                success: function (response) {
                    alert('POST request was successful', response);
                },
                error: function (xhr, status, error) {
                    alert('Error occurred during POST request', status, error);
                }
            });
        }


    }
    function Save(itemId) {

        var form = $('#' + itemId + '');
        var postData = form.serialize();

        console.log("form");
        console.log(form);
        console.log("postData");
        console.log(postData);

    }
</script>