@using SkillsHub.Domain.BaseModels;
@using SkillsHub.Domain.Models;
@model Course;


@{

    var item = Model ?? new Course();

    var resText = "Создать";
    if (Model != null && Model.Id != Guid.Empty) resText = "Редактировать";
    resText += " курс ";
    var restTextAndName = resText + " " + Model?.Name;

    bool isEdit = false;
    if (item.Id != Guid.Empty) isEdit = true;
}

<section class=" text-center " style="padding:0.7%">
   <div class="login-form-bg h-100">
   <div class="container h-100">
      <div class="row justify-content-center h-100" >
         <div class="col-xl-10">
            <div class="form-input-content">
               <div class="card login-form mb-0">
                  <div class="card-body pt-5">
                  <form>

                  @if(isEdit)
                                    {
                  <input type="hidden" asp-for="@Model.Id" value="@Model.Id" name="Id" />
                     <div class="text-center" style="min-height:80px; display:flex;justify-content:space-between"> 
                        <h3>@restTextAndName</h3>
                        <div class="table-cell">@item.DateCreated</div>
                        <a asp-action="InstitutionSetting" asp-controller="CRM" >Назад</a>
                        @if(Model.IsDeleted)
                        {
                          <input type="submit" class="btn btn-info" asp-action="Remove" asp-controller="Course" value="◯" style="height:50%" />
                        }
                          <input type="submit" class="btn btn-danger" asp-action="Remove" asp-controller="Course"  value="Х" style="height:50%" />
                     </div>
                                    }
                  else
                  {
                      <div class="text-center" style="min-height:80px; display:flex;justify-content:space-between"> 
                      <h3>
                        @resText 
                        </h3>
                        <a asp-action="InstitutionSetting" asp-controller="CRM" >Назад</a>
                     </div>
                  }
                                    <div class="validation text-center" asp-validation-summary="ModelOnly" style="color:red;font-weight:400;"></div>

                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Имя<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input class="form-control" asp-for="@item.Name" name="Name" type="text" placeholder="Для организаций" required />
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Предмет<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input class="form-control" asp-for="@item.Subject" min="1" type="text" name="Subject" required  placeholder="Английский"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Описание
                                        </label>
                                        <div class="col-lg-6">
                                            <input class="form-control" asp-for="@item.Description" type="text" name="Description" placeholder="Курсы английского языка для специфики вашей работы" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-skill">
                                            Детальное описание
                                        </label>
                                        <div class="col-lg-6">
                                            <textarea class="form-control" type="text" name="Description" rows="4" placeholder="Основная цель этого курса - получение навыков и практики эффективного общения на английском языке в вашей профессиональной области. Программа курса подбирается и согласовывается под конкретную сферу деятельности организации, ее цели и задачи." > </textarea>
                                        </div>
                                    </div>
                                    <input type="submit" asp-action="Create" asp-controller="Course" formmethod="post"  class="btn login-form__btn submit w-100" value="@resText" />
                                 </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (isEdit && Model.Parents != null && Model.Parents?.Count() != 0)
{
<section style="padding-top:0%" >
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                    <div class="col-xl-10" >
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                            @foreach(var par in Model.Parents)
                            {
                                        <div class="col" style="background-color:rgb(117 113 249 / 30%)">
                                <div class="card" >
                                    <div class="card-body">
                                                    <div >
                                            <!--HEADER LESSON-->
                                            <div class="row">
                                            <div>@par.DisplayName @par.Description - @par.DateCreated</div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
