@model List<Location>?;
@{
	ViewData["Title"] = "Create";
}

<style>
    th, td {
        text-wrap: nowrap
    }

</style>

@{
    var items = Model.ToList() ?? new List<Location>();

    var resText = "";
    //if (Model != null && Model.Id != Guid.Empty) resText = "Редактировать";
    resText += "Места проведения";
    //var restTextAndName = resText + " - " + Model?.Name;
    var properties = new string[] { "Статус","Тип", "Имя", "Описание", "Дата изменения", "Дата создания" };

}



<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div style="display:flex; justify-content:space-between;align-items:center;margin:5px">
                        <h2 class="card-title">@resText</h2>
                        <form>
                            <div><input type="submit" class="btn btn-primary" value="+" asp-action="Create" asp-controller="Location" /></div>
                        </form>
                    </div>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                    @foreach (var i in properties)
                                    {
                                        <th>@i</th>
                                    }
                                    </tr>
                                </thead>
                                <tbody id="partialContainer">
                                    
                                   @foreach(var item in Model)
                                {
                                    <tr>
                                       <td>@item.Status</td>
                                        <td>@item.IsOfflineTextRu</td>
                                        <td><form><a asp-action="Create" asp-controller="Location" asp-route-itemId="@item.Id" style="color:#7571f9">@item.Name</a></form></td>
                                       <td>@item.Description</td>
                                       <td>@item.DateCreated</td>
                                        <td>@item.DateRegistration</td>
                                    </tr>


                                }
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @foreach (var i in properties)
                                    {
                                        <th>@i</th>
                                    }                                   
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>