@using SkillsHub.Application.Helpers;
@using SkillsHub.Application.DTO;
@using SkillsHub.Domain.BaseModels


@model IQueryable<ApplicationUser>?
    <!-- Custom Stylesheet -->
    <link href="/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div>



        <!--**********************************
            Content body start
        ***********************************-->
        <div >

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb" style="display:flex;align-items:center">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    <li>
                        <div>
                                <a style="margin-left:20px" class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Action

                                 </a>
                            
                            <ul class="dropdown-menu">
                                <form>
                                <li><a class="dropdown-item" href="#">Invite via email</a></li>
                                <li>

                                    <a class="dropdown-item" asp-action="Create" asp-controller="Account">Create new</a>
                                    
                                </li>
                                </form>
                                </ul>
                            
                        </div>
                    </li>
                    
                    </ol>
                </div>
            </div>


            <!-- row -->


        @{
            if (Model == null || Model.Count() == 0)
        {

                <div style=" display:flex;flex;grid-gap:20px;justify-content:center ">
                    <h3>Users list is empty</h3>
                    

                </div>

        }

            else
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Users</h4>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered zero-configuration">
                                            <thead>
                                                <tr>
                                                    <th>Login</th>
                                                    <th>Full Name</th>
                                                    <th>Sex</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>BirthDate</th>
                                                    <th>Age</th>
                                                    <th>Month Lessons</th>
                                                    <th>IsAdmin</th>
                                                    <th>SourceFindCompany</th>
                                                    <th>IsDeleted</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{

                                                    foreach (var item in Model)
                                                    {
                    /* <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>System Architect</td>
                                                    <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                        </tr>
                                                        */
                                                        <tr>
                                                            <td><a asp-action="Item" asp-controller="Account" asp-route-itemId="@item.Id" style="font-weight:900;color:#7571f9">  @item.Login </a></td>
                                                            <td>@item.FirstName @item.LastName @item.Surname</td>
                                                            <td>@item.Sex</td>
                                                            <td>@item.Phone</td>
                                                            <td>@item.Email</td>
                                                            <td>@item.BirthDate</td>
                                                            <td>Age</td>

                                                            <td>Month Lessons</td>
                                                            <td>@item.IsAdmin</td>
                                                            <td>@item.SourceFindCompany</td>
                                                            <td>@item.IsDeleted</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Login</th>
                                                    <th>Full Name</th>
                                                    <th>Sex</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>BirthDate</th>
                                                    <th>Age</th>
                                                    <th>Month Lessons</th>
                                                    <th>IsAdmin</th>
                                                    <th>SourceFindCompany</th>
                                                    <th>IsDeleted</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
        }

         <!-- #/ container -->
        </div>

    </div>


    


