@using Microsoft.AspNetCore.Identity
@using SkillsHub.Domain.BaseModels;
@inject UserManager<ApplicationUser> _userManager;
@inject SkillsHub.Persistence.ApplicationDbContext _context;


@model ApplicationUser;

@{
    var condition = (User.IsInRole("Admin") || User.Identity.Name == Model.UserName) && Model != null && Model.UserTeacher != null;
}

@if (condition)
{
    var teacher = Model.UserTeacher;

    <div class="card">
        <div class="card-body">


            <div>
                @{
                    <form style="display:flex; justify-content:space-between">
                        <input type="hidden" asp-for="@teacher.Id" value="@teacher.Id" />
                        <input type="hidden" asp-for="@teacher.ApplicationUserId" value="@Model.Id" />
                       
                        <h3>Статистика учителя - @Model.UserTeacher.Status</h3>
                       
                        @if (User.IsInRole("Admin"))
                        {
                           <!-- <input class="btn btn-primary btn-sm" type="submit" value="↑↓" asp-action="Activate" asp-controller="Teachers" asp-route-id="teacher.Id" asp-route-userId="Model.Id" />-->
                        }
                    </form>

                }

            </div>

            @if (!User.IsInRole("Admin") && !User.IsInRole("Teacher") && !User.IsInRole("Student"))
            {
                
           
            <div style="display:flex; justify-content:space-between">
                <b>Working schedule: </b>
                @if (teacher.WorkingDays != null)
                {
                    <ol style="padding-left:0.2%">

                        @foreach (var item in teacher.WorkingDays.Split("-"))
                        {
                            <li>@item.ToString()</li>
                        }
                    </ol>
                }
                <b></b>
                <b></b>



            </div>
            }
            <div style="display:flex; justify-content:space-between">

               @*  <b>Направления работы:</b> @{
                    if (teacher.PossibleCources != null && teacher.CurrentPossibleCourses != null)
                    {
                        var res = String.Join(',', Model.UserTeacher.PossibleCources.Select(x => x.LessonType));

                       
                            @foreach (var item in Model?.UserTeacher?.CurrentPossibleCourses?.Select(x => x.LessonType))
                            {
                                <div>@item.Name</div>
                            }
                       
                    }
                    else
                    {
                        <span>Отсутствуют</span>
                    }
                } *@

                <b></b>
                 <hr />


            </div>
            <hr />
            <div>
                @{
                    _context.Groups.ToList();
                    _context.Lessons.ToList();
                    _context.Teachers.ToList();

                    _context.Users.ToList();

                    var visitedLessonsCount = _context.Lessons.Where(x=>x.ParentId == null).ToList().Where(x => x.TeacherId == Model.UserTeacher.Id).Where(x => x.IsСompleted).Count();
                    var arrivedLessonsCount = _context.Lessons.Where(x => x.ParentId == null).ToList().Where(x => x.TeacherId == Model.UserTeacher.Id).Count();
                }
                <div>Проведенные уроки: @visitedLessonsCount / @arrivedLessonsCount</div> 
                <div>>Цена: 50 BYN  / 570 BYN</div>
            </div>

            <!--
            <div>
                Выплачено: --- BYN 
            </div>
            
            <div>
                Проведено групповых английский / индивидуальных английский / групповых программирование:
            </div>
            <div>
                Ожидаемые групповых английский / индивидуальных английский / групповых программирование:
            </div>
            -->
            
        </div>
    </div>
}
