@using Microsoft.AspNetCore.Identity
@using SkillsHub.Domain.BaseModels;


<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Курсы Английского для детей и взрослых в Минске. Занятия онлайн и очно. Для организаций, экспресс-английский, speaking club (разговорный клуб), языковой лагерь для детей. В центре Минска (метро Якуба Коласа). Индивидуальные занятие. Низкие цены, дешево. Программирование для детей (Scratch, Java, Python) от 6 лет" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SkillsHub.styles.css" asp-append-version="true" />
    <link href="https://skillshub.by/" rel="canonical" />
    <meta property="og:title" content="SkillsHub - Курсы английского языка в Минске для детей и взрослых любого уровня." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://skillshub.by/" />
    <meta property="og:description" content="Пройдите тест на уровень языка совершенно бесплатно! Обучаем с нуля или поможем улучшить навыки под ваши нужды." />
    <meta property="og:site_name" content="SkillsHub - курсы английского в центре Минска" />
    <meta property="og:image" content="https://img.freepik.com/free-vector/hand-drawn-english-school-illustration_23-2149517765.jpg?w=996&t=st=1698091774~exp=1698092374~hmac=0bac2c395f5113eedf6bf76b7716805c9cfb882671b6300421652d72fba575e1" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!--OWN-->
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.svg">
    <meta name="theme-color" content="rgb(253, 254, 255)">
    <link href="~/css/chat.css" rel="stylesheet" />

    <link href="~/css/myStyles.css" rel="stylesheet" />

    <!--    Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/logo.svg">
    <link rel="icon" type="image/png" sizes="48x48" href="~/images/logo.svg">
    <link href="~/assets/css/theme.css" rel="stylesheet" />


    <!-- Meta Pixel Code -->
    <script>
        function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
        } (window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '972143338251307');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=972143338251307&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(96558122, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/96558122" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- Event snippet for Contact conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-17022741245/U2HNCJbSgLwaEP3VibU_'});
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17022741245">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-17022741245');
    </script>

    <style>

        input[type="checkbox"]:after {
            border: 1px solid #614c4c !important
        }
    </style>

</head>

<body class="my-background">
    <div class="container panel-collapse collapse" style="z-index:10;margin-right:5%" id="err">
    </div>



    @{

        if (User.Identity.IsAuthenticated && @Context.Request.Path.Value != "/website" && @Context.Request.Path.Value != "/thanks")
        {

            #region AuthorizedHeader;

            @using SkillsHub.Domain.BaseModels;
            @inject SkillsHub.Persistence.ApplicationDbContext _context;           
            @inject UserManager<ApplicationUser> _userManager;

            var user = _context.Users.FirstOrDefault(x => x.UserName == User.Identity.Name) ?? new ApplicationUser() { UserName = "empty" };
            //var appUserBaseUserInfo = _context.ApplicationUserBaseUserInfo.Where(x => x.ApplicationUserId == user.Id).Where(x => x.IsBase == true).ToList();
            //user.ConnectedUsersInfo = appUserBaseUserInfo;
            var appUserBaseUserInfo = _context.ApplicationUserBaseUserInfo.Where(x => x.ApplicationUserId == user.Id).FirstOrDefault(x => x.IsBase == true);
            var baseUserInfo = _context.BaseUserInfo.FirstOrDefault(x => x.Id == appUserBaseUserInfo.BaseUserInfoId) ?? new BaseUserInfo();
            IList<string> userRolesList = await _userManager.GetRolesAsync(user);
            baseUserInfo.UserRoles = String.Join(";", userRolesList);
            user.Roles = userRolesList.ToArray();

            <link rel="stylesheet" href="~/plugins/pg-calendar/css/pignose.calendar.min.css" >
            <link rel="stylesheet" href="~/plugins/chartist/css/chartist.min.css">
            <link rel="stylesheet" href="~/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
            <link href="~/css/style.css" rel="stylesheet">
            <link href="~/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">

        <style>


            .btn-primary {
            background-color: #5da6d6;
            border: none;
            }

            .btn-outline-primary, button {
            border-color: #5da6d6;
            color: #5da6d6;
            }

            .btn-outline-primary:hover, button:hover {
            background-color: #53ACF8 !important;
            border: none;
            }

            .navbar-light .navbar-brand {
            color: #5da6d6 !important;
            }

            .nav-link, .nav-link:active {
            color: #091E40 !important;
            }

            .list-unstyled div p, .levels-english div p {
            padding-left: 4.2%;
            font-size: 16px;
            }

            .direction-educations span {
            color: #4c82a6;
            }

            .levels-english li a {
            color: #091E40;
            }

            .list-conditions li {
            font-size: 17px;
            }

            .chat-window {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 350px;
            height: 500px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: auto;
            }

            .chat {
            list-style: none;
            margin: 0;
            padding: 0;
            }

            .chat li {
            margin-bottom: 10px;
            padding-bottom: 5px;
            }

            .chat li.left .chat-body {
            margin-left: 60px;
            }

            .chat li.right .chat-body {
            margin-right: 60px;
            }

            .chat li .chat-body p {
            margin: 0;
            color: #777777;
            }

            .panel .slidedown .glyphicon, .chat .glyphicon {
            margin-right: 5px;
            }

            .panel-body {
            overflow-y: scroll;
            height: 500px;
            }

            .panel-body {
            overflow-y: scroll;
            height: 500px;
            }

            ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }

            ::-webkit-scrollbar {
            width: 12px;
            }

            ::-webkit-scrollbar-thumb {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #555;
            }

        </style>
        <header>
            <nav class="navbar-expand-lg navbar-light fixed-top py-3" style="background-color: rgb(255, 255, 255); padding:0px 4% ">

                <div class="" style="display:flex;align-items:flex-start;justify-content:space-between">

                    <a class="navbar-brand d-flex align-items-center fw-semi-bold fs-3" asp-controller="Home" asp-action="Index">
                        <img class="me-3" src="~/images/logo.svg" alt="" style="width:40px" /> 
                    </a>

                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse mt-4 mt-lg-0" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto pt-2 pt-lg-0 font-base">

                                <li class="nav-item px-2" data-anchor="data-anchor">
                                    <a class="nav-link" style="text-wrap:nowrap" asp-action="Index" asp-controller="Home">Главная</a>
                                </li>
                                @if(User.IsInRole("Admin"))
                                {
                                    <li class="nav-item dropdown px-2">
                                        <a class="nav-link" class="nav-link" style="text-wrap:nowrap" asp-action="InstitutionSetting" asp-controller="Home" role="button">Курсы</a>

                                    </li>


                                    <li class="nav-item px-2" data-anchor="data-anchor">
                                        <a class="nav-link" style="text-wrap:nowrap" asp-action="Index" asp-controller="Account">| Пользователи</a>
                                    </li>
                                }
                                @if (User.IsInRole("Programmer"))
                                {
                                    <li class="nav-item px-2" data-anchor="data-anchor">
                                        <form>
                                            <a class="nav-link" target="_blank" rel="noopener noreferrer" asp-action="Index" asp-controller="Group" style="display:flex;white-space:nowrap;align-items:anchor-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="15px" width="22px" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                                                    <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                                                </svg>
                                                Группы</a>
                                        </form>
                                    </li>
                                }
                                <li class="nav-item px-2" data-anchor="data-anchor" style="display:flex">
                                        <a class="nav-link" href="/website" aria-expanded="false" style="display:flex;white-space:nowrap;align-items:anchor-center;font-size:18pt">
                                        <svg style="margin-left:-7px"
                                        xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 20 26" height="18px" width="23px" fill="#7571f9">
                                            <path d="M15.5,0h-7c-2.481,0-4.5,2.019-4.5,4.5v15c0,2.481,2.019,4.5,4.5,4.5h7c2.481,0,4.5-2.019,4.5-4.5V4.5c0-2.481-2.019-4.5-4.5-4.5Zm-.693,1l-.325,.974c-.205,.614-.777,1.026-1.423,1.026h-2.117c-.646,0-1.218-.412-1.423-1.026l-.325-.974h5.613Zm4.193,18.5c0,1.93-1.57,3.5-3.5,3.5h-7c-1.93,0-3.5-1.57-3.5-3.5V4.5c0-1.81,1.387-3.287,3.151-3.465l.418,1.255c.341,1.022,1.294,1.709,2.372,1.709h2.117c1.078,0,2.031-.687,2.372-1.709l.418-1.255c1.764,.178,3.151,1.654,3.151,3.465v15Z" />
                                            <path d="M13.5,20h-3c-.276,0-.5,.224-.5,.5s.224,.5,.5,.5h3c.276,0,.5-.224,.5-.5s-.224-.5-.5-.5Z" />
                                        </svg>
                                        <span class="" style="color:#7571f9;font-size:18px">
                                            Сайт
                                        </span>
                                    </a>
                                </li>
                                    <li class="nav-item px-2" style="display:flex">
                                    <div style="display:flex;grid-gap:5%;margin-left:10px; margin-right:10px;align-items:center">
                                        <span>Язык: </span>
                                        <span id="google_translate_element"></span>
                                    </div>
                                </li>
                                <li class="nav-item px-2" data-anchor="data-anchor">
                                    <div style="display:flex;align-items:center;font-size:13px">
                                        @{
                                               
                                            var translatedRoles = userRolesList.Select(role =>
                                            {
                                                switch (role)
                                                {
                                                    case "Student":
                                                        return "Студ";
                                                    case "Teacher":
                                                        return "Учит";
                                                    case "Admin":
                                                        return "Админ";
                                                    default:
                                                        return role;
                                                }
                                            }).ToList();
                                            var userRoles = translatedRoles.Count < 1 ? "" : String.Join(",", translatedRoles) + " - ";
                                                
                                        }
                                            <span style="padding-top:-5px; margin-right:5%">
                                                <!--<i class="icon-user"></i>-->
                                                <a asp-action="Item" asp-controller="Account" style="zoom:125%;text-wrap:nowrap">@userRoles  @User.Identity.Name</a>
                                            </span>


                                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                                    <img class="mr-3" src="@baseUserInfo.ImagePath" height="40" width="40" alt="" />
                                            </div>
                                            <span style="font-size:initial;color:#ad71ff;font-weight:900"></span>

                                            <!--
                                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                                <div class="dropdown-content-body">
                                                    <ul style="margin-bottom:5px">
                                                        <li>
                                                            <a asp-action="Item" asp-controller="Account"><i class="icon-user"></i> <span>Профиль</span></a>
                                                        </li>
                                                        <li> <a asp-action="SignOut" asp-controller="Account"><i class="icon-key"></i> <span>Выйти</span></a></li>
                                                        
                                                    </ul>

                                                </div>
                                            </div>
                                            -->
                                        </div>
                                    </li>
                                <li class="nav-item px-2" data-anchor="data-anchor">
                                    <a class="nav-link" style="text-wrap:nowrap" asp-action="SignOut" asp-controller="Account">Выйти</a>
                                </li>

                                </ul>
                                   
                            </div>
                        </div>
                                    
                  
                    </div>

                   
                </nav>


                <!--
                <div class="container" style="z-index:100;">
                            <a onclick="toggleCollapse()" id="countNotifications" type="button" class="chat-window"
                                    style="width:90px;height:90px;
                                            background-color:deeppink;border-color:white;border-width:15px;border-radius: 30px;
                                            text-align:center;color:white;font-size:30px;padding-top:8px">
                        
                    </a>
                    
                </div>


                    <div class="container" style="z-index:100;">
                            <a onclick="toggleCollapseAdmin()" id="countNotificationsAdmin" type="button" class="chat-window"
                                    style="width:90px;height:90px;margin-right:95px;
                                                background-color:black;border-color:white;border-width:15px;border-radius: 30px;
                                                text-align:center;color:white;font-size:30px;padding-top:8px">
                        
                    </a>
                    
                </div>
                
                
                    <div class="container panel-collapse collapse" style="z-index:10;margin-right:5%" id="err">
                    </div>
                    <div class="container panel-collapse collapse" style="z-index:10;margin-right:5%;border-radius: 30px;" id="kuku">   
                    </div>

                    <div class="container panel-collapse collapse" style="z-index:10;margin-right:5%;border-radius: 30px;" id="kukuAdmin">
                    </div>
                    -->
            </header>

            <div class="content-body" style="padding-top:5%;margin:0px">
                    <div id="preloader">
                        <div class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
            <!--
                <script type="text/javascript" src="~/Scripts/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
                      
                    -->

                <script type="text/javascript" src="~/Scripts/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

                <script src="~/plugins/common/common.min.js"></script>
                <script src="~/js/custom.min.js"></script>
                <script src="~/js/settings.js"></script>
                <script src="~/js/gleek.js"></script>
                <script src="~/js/styleSwitcher.js"></script>
                   

                <main>
                    @RenderBody()
                </main>


                <script>
                    // function toggleCollapse() {
                    //     var lessonsCountInput = document.querySelector('#kuku')

                    //     console.log("ok2222");
                    //     $('#kuku').toggleClass('show'); Toggle the collapse state of the div

                    //     $("#kuku").load("/Account/GetNotifications", function () {
                    //         var notificationCount = $("#notifications").children().length;
                    //         $("#countNotifications").text(notificationCount);

                    //     });
                    // }
                    // toggleCollapse();
                    // toggleCollapse();

                    // function toggleCollapseAdmin() {
                    //     var lessonsCountInput = document.querySelector('#kukuAdmin')


                    //     console.log("ok2222");
                    //     $('#kukuAdmin').toggleClass('show'); Toggle the collapse state of the div

                    //     $("#kukuAdmin").load("/Account/GetEmails", function () {
                    //         var notificationCount = $("#notificationsAdmin").children().length;
                    //         $("#countNotificationsAdmin").text(notificationCount);

                    //     });
                    // }
                    // toggleCollapseAdmin();
                    // toggleCollapseAdmin();

                    function SendMessage() {
                        var valData = $("#sendMessage").serialize(); // Serialize form data
                        console.log(valData);

                        $.ajax({
                            url: "/Account/SendMessage",
                            type: "POST",
                            data: valData, // Sending serialized form data
                            success: function (data) {
                                alert("Сообщение было отправлено!")
                                toggleCollapseAdmin();
                                toggleCollapseAdmin();
                                if (Array.isArray(data)) {
                                    // Handle response data if it's an array
                                } else {
                                    // Handle response data if it's not an array
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                alert("Сообщение некорректно.")
                            }
                        });
                    }
                </script>
            </div>
            

        #endregion
    }
    else
    {
            
        <script type="text/javascript" src="~/Scripts/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
        <style>
            .mainId {
                padding-bottom: 0px !important
            }
        </style>
        <div>
            <main role="main"  class="mainId pb-3">
                @RenderBody()
            </main>
        </div>


         

     


            <style>
                .mainId {
                    padding-bottom: 0px !important
                }
            </style>

          
            <div>
                <main role="main" class="mainId pb-3">
                    @RenderBody()
                </main>
            </div>
    }
}

    <!--
    <script src="https:cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    
    -->

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">

        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'ru', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }

        function delGoogleTranslateElements() { 
            var $elements = $(".google_translate_element");  //CHECK COUNT GOOGLE-TRANSLATE ELEMENTS
            if ($elements.length > 1) {
                // Loop through each element starting from the second one
                $elements.slice(1).each(function () {
                    // Hide the current element and its next sibling element
                    $(this).next().hide();
                    $(this).hide();
                });
            }
        }

        new Promise((resolve, reject) => {
            const delay = ms => new Promise(resolve => { 
                setTimeout(resolve, ms);
            });
			
			delay(3000) // Delay for 3000 milliseconds (3 seconds) before resolving
				.then(() => {
                    googleTranslateElementInit()
                    console.log("resolve init google translator")
				});
		}).then(() => {
            delGoogleTranslateElements()
            console.log("resolve remove google translator")
		});
   
    </script>

   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>