@using SkillsHub.Domain.BaseModels;
@model List<Lesson>;
@{
var lessons = @Model;
}
@{
if (lessons.Count == 0)
{
    <p>EMPTY</p>
}
else
{
    <div class="col ">
        <div class="card">
            <div class="card-body"
                    id="allLessons">
                @foreach (var item in lessons)
                {
                    @if (item != null)
                    {
                        var lessonId = item.Id;
                        var formId = "lesson" + lessonId;
                        <div class="col lessonInGroup">
                            <form id="@formId">
                                <div class="card" >
                                    <div class="card-body">
                                        <div>
                                            <!--HEADER LESSON-->
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <input type="hidden" asp-for="@item.Id" value="@item.Id" />
                                                        <input type="hidden" asp-for="@item.GroupId" value="@item.GroupId" />
                                                        <div style="display:flex; justify-content:space-between">
                                                            <h5>
                                                               
                                                                <a asp-action="Item" asp-controller="Lesson" asp-route-id="@item.Id">
                                                                    @(lessons.IndexOf(item) + 1) . @item.StartTime.ToLongDateString() (@item.StartTime.DayOfWeek)  
                                                                    @if(item.IsDeleted)
                                                                    {
                                                                         <span style="color:red">Deleted</span>
                                                                    }
                                                                    else if ((@item.EndTime < DateTime.Now) && !(item.IsСompleted))
                                                                    {
                                                                        <span style="color:red">Not completed</span>
                                                                    }
                                                                        else if (@item.IsСompleted && (@item.EndTime < DateTime.Now))
                                                                    {
                                                                        <span style="color:green">Completed</span>
                                                                    }
                                                                    else if (@item.IsСompleted)
                                                                    {
                                                                        <span style="color:greenyellow">Completed but the lesson wasn't over yet</span>
                                                                    }
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div style="display:flex; justify-content:space-between">
                                                            @if (User.IsInRole("Student"))
                                                            {
                                                                <div style="display:flex; grid-gap:5%" class="cs-form">
                                                                    <input type="time" name="startTime" asp-for="@item.StartTime" class="form-control" disabled /> -
                                                                    <input type="time" name="endTime" asp-for="@item.EndTime" class="form-control" disabled />
                                                                </div>
                                                                <div></div>
                                                            }
                                                            else
                                                            {
                                                                <div style="display:flex; grid-gap:5%">
                                                                    <input type="time" asp-for="@item.StartTime" class="form-control" /> -
                                                                    <input type="time" asp-for="@item.EndTime" class="form-control" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--END HEADER LESSON-->
                                                <div class="col">
                                                    @{
                                                        //Get variables to show teacher
                                                        List
                                                        <ApplicationUser>
                                                        arrivedUsers = new List<ApplicationUser>();
                                                        List<ApplicationUser>notArrivedUsers = new List<ApplicationUser>();
                                                        ApplicationUser teacher = new ApplicationUser();
                                                        if (item.ArrivedStudents != null)
                                                        {
                                                            var users = item.ArrivedStudents.Where(x => x.IsVisit).Select(x => x.Student).Select(x => x.ApplicationUser);
                                                            arrivedUsers.AddRange(users);
                                                            var users2 = item.ArrivedStudents.Where(x => x.IsVisit == false).Select(x => x.Student).Select(x => x.ApplicationUser);
                                                            notArrivedUsers.AddRange(users2);
                                                        }
                                                        
                                                        if (item.Teacher != null && item.Teacher.ApplicationUser != null)
                                                            teacher = item.Teacher.ApplicationUser;
                                                        <div>
                                                            <strong>Topic of lesson: </strong>@(item.Topic ?? "-") <br />
                                                            
                                                            <strong>Teacher:</strong> <a asp-route-id="teacher.Id" asp-action="Item" asp-controller="Account">@if(teacher != null) {<span> @teacher.FirstName @teacher.LastName @teacher.Surname</span>} else { <span>-</span> }</a> <br />
                                                            <strong>Arrived students:</strong>
                                                            @if (item.ArrivedStudents != null && item.ArrivedStudents.Count() != 0)
                                                            {
                                                                <ul>
                                                                    @foreach (var user in item.ArrivedStudents.Select(x=>x.Student).Select(x=>x.ApplicationUser))
                                                                    {
                                                                        <li><a asp-route-id="@user.Id" asp-action="Item" asp-controller="Account">@user.FirstName @user.LastName</a> </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            <br />
                                                            @if (User.IsInRole("Admin"))
                                                            {
                                                                <p>
                                                                    Result price for teacher: ?
                                                                    Result price for admin: ?
                                                                </p>
                                                            }
                                                            @if (User.IsInRole("Teacher"))
                                                            {
                                                                <p>
                                                                    Result price for teacher: ?
                                                                </p>
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                                <div class="col">
                                                    @if (User.IsInRole("Teacher"))
                                                    {
                                                        <div>
                                                            <input type="submit" asp-action="Edit" asp-controller="Request" value="Change request" class="btn btn-outline-primary" />
                                                            <input type="submit" asp-action="Delete" asp-controller="Request" asp-route-id="@item.Id" value="Delete request" class="btn btn-outline-danger" />
                                                        </div>
                                                    }
                                                    else if(User.IsInRole("Admin"))
                                                    {
                                                        <div>
                                                            <input type="submit" asp-action="Edit" asp-controller="Lesson" asp-route-id="@item.Id" value="✔" class="btn btn-primary" />
                                                            <input type="submit" asp-action="Delete" asp-controller="Lesson" formmethod="post" asp-route-id="@item.Id" value="X" class="btn btn-danger" />
                                                        </div>
                                                    }
                                                        
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
}
}
