@using SkillsHub.Domain.BaseModels;
@model (List<Student>? allStudents,List<Student>? checkedStudents);

<ul>

  
@if(Model.allStudents == null && Model.allStudents.Count() == 0)
{
        <li>List visible student`s is empty</li>  
}
else
{
        @foreach (var item in Model.allStudents)
        {
            var user = item.ApplicationUser;

            <li class='list-group-item'>
                <input type='hidden' name='itemId' value='@item.Id' />
                @if (Model.checkedStudents != null && Model.checkedStudents.Select(x => x.Id).Contains(item.Id))
                {
                    <input type='checkbox' name='studentId' style='margin-right:5px;' value='@item.Id' checked />
                }
                else
                {
                    <input type='checkbox' name='studentId' style='margin-right:5px;' value='@item.Id' />
                }
                @user.FirstName  @user.LastName @user.Surname;
            </li>
        }
    }
</ul>