@using SkillsHub.Domain.BaseModels;
@inject SkillsHub.Persistence.ApplicationDbContext _context;

@model (ApplicationUser user, List<Group>? groups);

@{
    var user = Model.user;
    var studentGroups = Model.groups;

}
@if (studentGroups != null)
{
    <div class="card">
        <div class="card-body">
            <div style="display:flex;justify-content:space-between;margin-bottom:10px">
                <h1>Student groups</h1>
                <!--
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    +
                </button>
                -->
            </div>

            <br />


            <!--
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#"><strong>All</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Current</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Last</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            -->
            @{
                if (studentGroups != null && studentGroups.Count() != 0)
                {
                    foreach (var item in studentGroups)
                    {
                        
                                @if (item.Lessons != null)
                                {
                                    var countEndedLessons = item.Lessons.Where(x => x.IsСompleted).Count();
                                    var countLessons = item.Lessons.Count();
                                    var priceByEndedLessons = item.LessonType.TeacherPrice * countEndedLessons;
                                    var priceByLessons = item.LessonType.TeacherPrice * countLessons;

                                    var scheduleDays = string.Join(",", item.DaySchedules.Select(x => Enum.GetName(typeof(DayOfWeek), x.DayName)));
                                    var startTimes = item.DaySchedules.Select(x => x.WorkingStartTime).ToArray();
                                    var endTimes = item.DaySchedules.Select(x => x.WorkingEndTime).ToArray();

                                    <div class="card">
                                        <div class="card-body">
                                            <div style="display:flex;justify-content:space-between">
                                                <div>
                                                    <h2><a asp-action="Item" asp-controller="Group" asp-route-id="@item.Id">Group @item.Name</a></h2>
                                                    <p><strong>Course</strong> : @item.CourseName.Name</p>
                                                    <p><strong>Lesson type</strong>: @item.LessonType.Name</p>
                                                    <p>
                                                        <strong>Schedule</strong> :
                                                        @for (int a = 0; a < startTimes.Count(); a++)
                                                        {
                                                            <span>@startTimes[a].ToString() - @endTimes[a].ToString() , </span>

                                                        }
                                                        - @scheduleDays

                                                    </p>
                                                </div>
                                                <div>
                                                    <h6>@countEndedLessons / @countLessons lessons - @priceByEndedLessons / @priceByLessons BYN</h6>
                                                </div>
                                            </div>
                                           
                                                        <div style="display:flex;flex-wrap:wrap;grid-gap:2%">
                                                         
                                                @if (item.Lessons != null && item.Lessons.Count()!=0)
                                                {
                                                    var studentLessons = item.Lessons;//.Where(x => x.Teacher != null).Where(x => x.Teacher.Id == @Model.user.Id).ToList();
                                                    


                                                    for (int i = 0; i < studentLessons.Count(); i++)
                                                    {
                                                _context.Lessons.ToList();
                                                _context.LessonStudents.ToList();
                                                _context.Students.ToList();
                                                _context.ApplicationUsers.ToList();

                                                        var studentsOnLesson = item.Lessons[i].ArrivedStudents;

                                               


                                                var studentLesson = studentsOnLesson.FirstOrDefault(x => x.Student.ApplicationUser.Id == user.Id && x.Lesson.Id == item.Lessons[i].Id);


                                                        <div>
                                                            <div style="display:flex;justify-content:center;flex-wrap:wrap;align-items:center;grid-gap:2%">
                                                    
                                                                    <div>

                                                                    

                                                                        @if(studentsOnLesson.Select(x=>x.Student.ApplicationUserId).Contains(user.Id))
                                                                        {
                                                                <span title="@item.Lessons[i].StartTime.ToShortTimeString()">@item.Lessons[i].StartTime.ToShortDateString()</span>
                                                                <a asp-action="Item" asp-controller="Lesson" title="@item.Lessons[i].StartTime.ToShortTimeString()" asp-route-id="@item.Lessons[i].Id">
                                                                    
                                                                </a>
                                                            }   
                                                                        else if (studentLesson != null && studentLesson.IsVisit && studentLesson.Lesson.IsСompleted)
                                                                        {
                                                                <span style="color:green" title="@item.Lessons[i].StartTime.ToShortTimeString()">@item.Lessons[i].StartTime.ToShortDateString()</span>
                                                                             <a asp-action="Item" asp-controller="Lesson" title="@item.Lessons[i].StartTime.ToShortTimeString()" asp-route-id="@item.Lessons[i].Id">
                                                                            
                                                                </a>
                                                                        }
                                                                        else if(studentLesson != null && !studentLesson.IsVisit && studentLesson.Lesson.IsСompleted)
                                                                        {
                                                                <span style="color:red" title="@item.Lessons[i].StartTime.ToShortTimeString()">@item.Lessons[i].StartTime.ToShortDateString()</span> 
                                                                            <a asp-action="Item" asp-controller="Lesson" title="@item.Lessons[i].StartTime.ToShortTimeString()" asp-route-id="@item.Lessons[i].Id">
                                                                                
                                                                            </a>
                                                                        }
                                                                         else
                                                                        {
                                                                <span style="color:#c4baff" title="@item.Lessons[i].StartTime.ToShortTimeString()">@item.Lessons[i].StartTime.ToShortDateString()</span>
                                                                <a asp-action="Item" asp-controller="Lesson" title="@item.Lessons[i].StartTime.ToShortTimeString()" asp-route-id="@item.Lessons[i].Id">
                                                                                
                                                                            </a>
                                                                        }


                                                                    
                                                           
                                                                    </div>

                                                                    <input type="checkbox" asp-for="@item.Lessons[i].IsСompleted" disabled />

                                                            </div>
                                                        </div>
                                                    }
                                                }else{
                                                    <div>Group not started yet</div>
                                                }
                                                </div>
                                            </div>

                                    </div>
                                }

                    }
                }
                else
                {
                    <div class="card">
                        <div class="card-body">
                            <h3>Groups list is empty</h3>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}

