@using SkillsHub.Domain.BaseModels;
@inject SkillsHub.Persistence.ApplicationDbContext _context;
@model List<Lesson>;
@{
    var lessons = @Model;
    lessons = lessons.Where(x => x.ParentId == null).ToList();

    _context.Groups.ToList();
}
@{
if (lessons.Count == 0)
{
    <div style="display:flex;justify-content:center;align-items:center;min-height:180px">
        <p>Список пуст</p>
    </div>
}
else
{
    <div class="col ">
        <div class="card">
            <div class="card-body"
                    id="allLessons">
                @foreach (var item in lessons)
                {
                    @if (item != null)
                    {
                        var lessonId = item.Id;
                        var formId = "lesson" + lessonId;
                        <div class="col lessonInGroup">
                            <form id="@formId">
                                <div class="card" >
                                    <div class="card-body">
                                        <div>
                                            <!--HEADER LESSON-->
                                            <div class="row">
                                                <div class="col-lg-3">
                                                
                                                    <div class="row">
                                                        <input type="hidden" asp-for="@item.Id" value="@item.Id" />
                                                        <input type="hidden" asp-for="@item.GroupId" value="@item.GroupId" />
                                                        <div>
                                                            <h5>

                                                                    <a asp-action="Create" asp-controller="Lesson" asp-route-id="@item.Id" style="font-size:large;font-weight:900;color:#7571f9">
                                                                        @(lessons.IndexOf(item) + 1) . @item.StartTime.ToLongDateString() (@System.Globalization.CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetDayName(item.StartTime.DayOfWeek));
                                                                    </a>
                                                                </h5>
                                                                <div>Длительность: @item.Duration </div>
                                                                <div>
                                                                    @if(item.IsDeleted)
                                                                    {
                                                                         <span style="color:red">Удалено</span>
                                                                    }
                                                                    else if (!(item.IsСompleted) && (@item.EndTime > DateTime.Now))
                                                                    {
                                                                        <span style="color:lightcoral">Занятие еще не прошло</span>
                                                                    }
                                                                    else if (@item.IsСompleted && @item.EndTime > DateTime.Now)
                                                                    {
                                                                        <span style="color:greenyellow">Занятие завершено учителем, но время окончания еще не прошло</span>
                                                                    }
                                                                    else if (!(item.IsСompleted) && (@item.EndTime < DateTime.Now))
                                                                    {
                                                                        <span style="color:lightcoral">Занятие прошло, но не завершено учителем</span>
                                                                    }
                                                                        else if (@item.IsСompleted && (@item.EndTime < DateTime.Now))
                                                                    {
                                                                        <span style="color:green">Завершено</span>
                                                                    }
                                                                    
                                                                </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div style="display:flex; justify-content:space-between">
                                                            
                                                        
                                                                    <div style="display:flex; grid-gap:5%" class="cs-form">
                                                                        <input type="time" asp-for="@item.StartTime" class="form-control" disabled /> -
                                                                        <input type="time" asp-for="@item.EndTime" class="form-control" disabled />
                                                                    </div>
                                                             
                                                        </div>
                                                    </div>
                                                    <div>
                                                       <strong>Тема занятия: </strong>@item.Topic <br />
                                                       <strong>Комментарий: </strong>@item.Comment <br />
                                                       
                                                    </div>
                                                </div>
                                                <!--END HEADER LESSON-->
                                                <div class="col-lg-7">
                                                        @{
                                                            var studentDesctiption = $"({@item?.ArrivedStudents?.Count()} из  {@item.Group?.LessonType.GroupType.DisplayName} )";
                                                            studentDesctiption = studentDesctiption.Replace("(", "").Replace(")", "");
                                                            ApplicationUser teacher = new ApplicationUser();
                                                        }
                                                    @{
                                                            

                                                        if (item.Teacher != null && item.Teacher.Teacher.ApplicationUser != null)
                                                            teacher = item.Teacher.Teacher.ApplicationUser;
                                                        <div>
                                                           
                                                            
                                                            <strong>Учитель:</strong> 
                                                            @if(teacher == null) 
                                                            {
                                                                <span> Не определен</span>
                                                            }
                                                            else if(User.IsInRole("Teacher") || User.IsInRole("Admin"))
                                                                {
                                                                      <a asp-route-id="@teacher.Id" asp-action="Item" asp-controller="Account" style="font-size:large;font-weight:900;color:#7571f9"> @teacher.FullName</a>
                                                                 
                                                                }
                                                            else{
                                                                <span style="font-size:large;font-weight:900;color:#7571f9"> @teacher.FullName</span>
                                                            }
                                                             <br />
                                                                <strong>Студенты @studentDesctiption</strong>
                                                                @{

                                                           if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                                                           {
                                                               @if (item.ArrivedStudents != null && item.ArrivedStudents.Count() != 0)
                                                               {
                                                                            var arrivedStudents = item.ArrivedStudents.ToList();//.Select(x => x.Student).Select(x => x.ApplicationUser).ToList();
                                                                            <ul>
                                                                       @foreach (var user in arrivedStudents)
                                                                       {
                                                                         <li><a asp-route-id="@user.Id" asp-action="Item" asp-controller="Account" style="font-size:large;font-weight:900;color:#7571f9">@(arrivedStudents.IndexOf(user)+2). @user.Student.ApplicationUser.FullName</a> -
                                                                         @{
                                                                                                                                                     
                                                                                        @if(item != null && !item.IsСompleted)
                                                                                        {

                                                                                            switch (user.VisitStatus) {

                                                                                                case 1 : <span>"Собирается посетить"</span>;break;
                                                                                                case 2:<span>"Пропустит без сохранения урока"</span>; break;
                                                                                                case 3 : <span>"Пропустит с сохранением урока"</span>; break;  
                                                                                                
                                                                                                
                                                                                            }
                                                                                        }
                                                                                        else{

                                                                                            switch (user.VisitStatus) {

                                                                                                case 1 : <span>"Посетил"</span>;break;
                                                                                                case 2:<span>"Пропустил без сохранения урока"</span>; break;
                                                                                                case 3 : <span>"Пропустил с сохранением урока"</span>; break;
                                                                                                

                                                                                            }
                                                                                        }
                                                                         }
                                                                                        
                                                                                         
                                                                         </li>
                                                                       }
                                                                   </ul>
                                                               }
                                                               
                                                           }
                                                                    <br />
                                                           }
                                                            </div>
                                                <div>    
                                                        <hr/>
                                                        @if(item?.Group?.PaymentCategory != null)
                                                        {
                                                                    @if (User.IsInRole("Admin"))
                                                                    {
                                                                        <div>
                                                                            <div>Цена для ученика: @item.Group.PaymentCategory.StudentPrice @item.Group.PaymentCategory.CurrencyStudent</div>
                                                                            <div>Оплата учителю: @item.Group.PaymentCategory.TeacherPrice @item.Group.PaymentCategory.CurrencyTeacher</div>
                                                                            @if (item.Group.PaymentCategory.CurrencyStudent == item.Group.PaymentCategory.CurrencyTeacher)
                                                                            {
                                                                                <div>
                                                                                    Итого:  @(item.Group.PaymentCategory.TeacherPrice - (item.Group.PaymentCategory.StudentPrice * item.ArrivedStudents.Count())) @item.Group.PaymentCategory.CurrencyStudent 
                                                                                </div> 
                                                                            }
                                                                            else
                                                                            {
                                                                                <div>
                                                                                    Итого:  @(item.Group.PaymentCategory.TeacherPrice) @item.Group.PaymentCategory.CurrencyTeacher - @(item.Group.PaymentCategory.StudentPrice * item.ArrivedStudents.Count())) @item.Group.PaymentCategory.CurrencyStudent
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                        
                                                                    }

                                                                    else if (User.IsInRole("Student"))
                                                                    {
                                                                        <div>
                                                                            Цена для ученика: @item.Group.PaymentCategory.StudentPrice BYN
                                                                        </div>
                                                                    }
                                                                    else if (User.IsInRole("Teacher"))
                                                                    {

                                                                        <div>
                                                                            Оплата учителю: @item.Group.PaymentCategory.TeacherPrice BYN
                                                                        </div>
                                                                    }
                                                            
                                                                  
                                                        }
                                                </div>
                                                    
                                                    }
                                                </div>
                                                    <div class="col-lg-2">
                                                    @if(User.IsInRole("Admin"))
                                                        {
                                                                <input type="submit" asp-action="Delete" asp-controller="Lesson" formmethod="post" asp-route-id="@item.Id" value="X" class="btn btn-danger" />
                                                                <!--<input type="submit" asp-action="Edit" asp-controller="Lesson" formmethod="post" value="✔" class="btn btn-primary" />-->
                                                                <!--<input type="submit" asp-action="Delete" asp-controller="Lesson" formmethod="post" asp-route-id="@item.Id" value="X" class="btn btn-outline-danger" />-->
                                                            }
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                            </form>
                        </div>
                    }
                }
            </div>
        </div>
    </div>


}
}
