@using SkillsHub.Application.DTO;
@using SkillsHub.Domain.Models;

@model Lesson;


<!-- Модальное окно -->
@{
    if (Model.Id != Guid.Empty)
    {
            <form class="mt-1 mb-5 login-input" method="post">
                    <input type="hidden" asp-for="GroupId" value="@Model.Group.Id" />


                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">

                                    <h2>Lesson - "@Model.Group.Name" </h2>

                                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                                    <div class="form-group">
                                        <label class=" col-form-label" for="val-skill">
                                            <h4>
                                                Default duration - @if (Model != null && Model.Group != null && Model.Group.LessonType != null)
                                            {
                                                    <span>@Model.Group.LessonType.LessonTimeInMinutes min</span>
                                            }
                                                <span class="text-danger">*</span>
                                            </h4>
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        <label class=" col-form-label" for="val-skill">
                                            <h4>Date start | End date<span class="text-danger">*</span></h4>
                                        </label>
                                        <div style="display:flex; justify-content:space-between">
                                            <input type="datetime" asp-for="StartTime" class="form-control" value="@Model.StartTime"  disabled>
                                            <input type="datetime" asp-for="EndTime" class="form-control"value="@Model.EndTime" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class=" col-form-label" for="val-skill">
                                            <h4>Topic<span class="text-danger">*</span></h4>
                                        </label>
                                        <input type="text" asp-for="Topic" disabled/>
                                    </div>


                                    
                                    <div class="form-group">
                                        <label class=" col-form-label" for="val-skill">
                                            <h4>Teacher<span class="text-danger">*</span></h4>
                                        </label>
                                        @if(Model.Group!= null && Model.Group.Teacher != null)
                                    {
                                        var teacher = Model.Group.Teacher.ApplicationUser;
                                        <a asp-action="Item" asp-controller="Account" asp-route-id="@Model.Group.Teacher.Id">@teacher.FirstName @teacher.LastName @teacher.Surname</a>

                                    }
                                    else
                                    {
                                        <p>No teacher</p>
                                    }
                                    
                                    </div>


                                    <div class="form-group">
                                        <label class=" col-form-label" for="val-skill" style="display:flex;justify-content:space-between">

                                            <h4>Arrived students<span class="text-danger">*</span></h4>
                                        @if (!User.IsInRole("Student"))
                                        {
                                            <div style="display:flex;">
                                                <input type="button" value="Select all" onclick="selectAllStudents()" class="btn btn-primary" />
                                                <input type="button" value="Select all" onclick="unselectAllStudents()" class="btn btn-dangerous" />
                                            </div>
                                        }
                                        @if (User.IsInRole("Student"))
                                        {

                                            <button asp-action="RemoveUserFromLesson" formmethod="post" asp-controller="Lesson" asp-route-id="@Model.Id" class="btn btn-warning" />
                                        }
                                        </label>
                                        <ul>
                                            @foreach (var item in Model.ArrivedStudents)
                                        {

                                                <li>
                                                @if(User.IsInRole("Student"))
                                                {
                                                    @if (item.IsVisit)
                                                    {
                                                        <input type="checkbox" name="arriveStudent" checked disabled/>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="arriveStudent" disabled/>
                                                    }
                                                }
                                                else
                                                {
                                                    @if (item.IsVisit)
                                                    {
                                                        <input type="checkbox" name="arriveStudent" checked />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="arriveStudent" />
                                                    }
                                                }
                                                
                                                   
                                                <a asp-action="Item" asp-controller="Account" asp-route-id="@item.Id">@item.Student.ApplicationUser.FirstName @item.Student.ApplicationUser.LastName</a>
                                                </li>
                                        }
                                        </ul>
                                        
                                    </div>

                                <div class="form-group" >
                                    <label class=" col-form-label" for="val-skill" style="display:flex;justify-content:space-between">
                                            <h4>Link to webinar<span class="text-danger">*</span></h4>
                                        @if (!User.IsInRole("Student"))
                                        {
                                            <input type="url" asp-for="LinkToWebinar" class="form-control" value="@Model.LinkToWebinar" placeholder="Url link" />
                                        }
                                        else
                                        {
                                            <input type="url" asp-for="LinkToWebinar" class="form-control" value="@Model.LinkToWebinar" placeholder="Url link" disabled>
                                        }
                                        </label>
                                      

                                    </div>








                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    }
}


<script src="~/plugins/common/common.min.js"></script>

<script src="~/plugins/jqueryui/js/jquery-ui.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    function getStudentsList() {

        var studentsList = $("#studentsList");
        studentsList.empty();

        var studentsByGroup;
        var studentsIds;
        if ($("#studentsByGroup") != null && $("#studentsByGroup").val() != undefined) {

            studentsByGroup = JSON.parse($("#studentsByGroup").val());
            console.log("studentsByGroup");
            console.log(studentsByGroup);
            studentsIds = studentsByGroup.map(function (student) {
                return student.Id;
            });
        }


        $.ajax({
            url: "/Student/GetStudentListAsync?isDeleted=true",
            type: "GET",
            dataType: "json",

            success: function (data) {
                console.log("students")

                console.log(data);
                data = JSON.parse(data);

                if (Array.isArray(data)) {

                    data.forEach(function (item, i, arr) {
                        var user = item.ApplicationUser;
                        studentsList.append("<input type='hidden' name='itemId'  value='" + item.Id + "'/>");

                        var appendedLine = "<li class='list-group-item'>";


                        if (studentsIds != undefined && studentsIds.includes(item.Id))
                            appendedLine += "<input type='checkbox' name='studentId'  style='margin-right:5px;' value='" + item.Id + "' checked  /> ";
                        else
                            appendedLine += "<input type='checkbox' name='studentId'  style='margin-right:5px;' value='" + item.Id + "'  /> ";

                        appendedLine += user.FirstName + " " + user.LastName + " " + user.Surname;
                        appendedLine += "</li>"

                        studentsList.append(appendedLine);
                    })
                }
            }
        });

    }

    function getLessonTypesList() {

        var studentsList = $("#lessonTypes");

        $.ajax({
            url: "/Cource/GetLessonTypesAsync",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {


                    data.forEach(function (item, i, arr) {
                        studentsList.append("<input type='hidden' name='itemId'  value='" + item.Id + "'/>");

                        var appendedLine = "<option class='list-group-item' asp-for='LessonTypeId' value='" + item.Id + "'>" + item.Name;

                        appendedLine += "</option>"

                        studentsList.append(appendedLine);
                    })
                }
            }
        });

    }

    function getTeachers() {

        var requiredTeachers = $("#allTeachers");


        $.ajax({
            url: "/Teachers/GetTeachersAsync",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {

                    if (data.length == 0) {
                        var appendEmpty = "<li class='list-group-item' value='' >Teacher's list is empty</li>";
                        requiredTeachers.append(appendEmpty);
                    }
                    data.forEach(function (item, i, arr) {
                        requiredTeachers.append("<input type='hidden' name='itemId'  value='" + item.Id + "'/>");

                        var appendedLine = "<option class='list-group-item' asp-for='LessonTypeId' value='" + item.Id + "'>" + item.Id;

                        appendedLine += "</option>"

                        requiredTeachers.append(appendedLine);
                    })




                }
            }
        });
    }

    function getGroups() {

        var groups = $("#allGroups");


        $.ajax({
            url: "/Group/GetAllGroups",
            type: "GET",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                if (Array.isArray(data)) {

                    if (data.length == 0) {
                        var appendEmpty = "<li class='list-group-item' value='' >Teacher's list is empty</li>";
                        groups.append(appendEmpty);
                    }
                    data.forEach(function (item, i, arr) {
                        groups.append("<input type='hidden' name='itemId'  value='" + item.Id + "'/>");

                        var appendedLine = "<option class='list-group-item' asp-for='LessonTypeId' value='" + item.Id + "'>" + item.Name;

                        appendedLine += "</option>"

                        groups.append(appendedLine);
                    })




                }
            }
        });
    }

    function selectAllStudents() { 
        

    
    }

    function unselectAllStudents() {



    }
        

    $(document).ready(function () {

        getLessonTypesList();
        getTeachers();
        getGroups();
    });

</script>
