@using SkillsHub.Application.Helpers;
@using SkillsHub.Application.DTO;
@using SkillsHub.Domain.BaseModels
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _roleManager;

@model IQueryable<RequestLesson>?

<div>
    <div>
        <!--NAVBAR - Search, Filter, Sort-->
        <!--
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display:flex;grid-gap:20px">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="input-group icons">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                                </div>
                                <input type="search" onchange="changeCourseName() id="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                                <div class="drop-down   d-md-none">
                                    <form action="#">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item" style="display:flex;align-items:baseline;grid-gap:10px">
                            <p style="white-space:nowrap">IsDeleted:</p>
                            <select class="form-control" id="val-skill" name="val-skill">

                                <option value="">Набор открыт</option>
                                <option value="">Набор закрыт</option>
                                <option value="">С учителем</option>
                                <option value="">Без учителя</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        -->

        <!--ITEMS-->
        @{
            if (Model == null || Model.Count() == 0)
            {

                <div style=" display:flex;flex;grid-gap:20px;justify-content:center ">
                    <h3>Request list is empty</h3>
                </div>

            }

            else
            {

                var groups = Model.Select(x => x.LessonBefore).Select(x => x.Group);
                groups = groups.DistinctBy(x => x.Id);
                @foreach (var i in groups)
                {
                    var reqs = Model.Where(x => x.LessonBefore.Group.Id == i.Id);


                    <div>
                            <div class="col">
                                <div class="card" style="margin:20px">
                                    <div class="card-body">
                                        <div>
                                            <!--<img class="mr-3 circle-rounded" src="images/avatar/2.jpg" width="50" height="50" alt="Generic placeholder image">-->
                                            <div>
                                                <div class="d-sm-flex justify-content-between mb-2" style="display:flex">
                                                    <h3 class="mb-sm-0">

                                                        <a asp-action="Item" asp-controller="Group" asp-route-id="@i.Id">@i.Name</a>

                                                </h3>
                                            </div>

                    @foreach (var item in reqs.OrderByDescending(x => x.DateCreated))
                   {

                        /*
            foreach (var item in Model.OrderBy(x=>x.LessonBefore.Group.Id).OrderByDescending(x => x.DateCreated))
                        {*/
                                                <div>
                                                    <div class="d-sm-flex justify-content-between mb-2" style="display:flex">
                                                        <h5 class="mb-sm-0">

                                                            <small class="text-muted ml-4">
                                                                <strong>@item.DateCreated</strong> by <strong><a asp-action="Item" asp-controller="Account" asp-route-itemId="@item.User.Id">@item.User.Login </a></strong>
                                                            </small>
                                                        </h5>
                                                    </div>
                                                </div>
                        

                                                        


                                                <!--ApplyRequest(Guid id, Lesson lesson, int answer)-->


                                                <div style="display:flex;justify-content:space-between" class="row">

                                                    <div class="card col" style="margin:20px">
                                                        <div class="card-body">
                                                            <div>
                                                                <h4>Before</h4>
                                                                <div style="display:flex; justify-content:space-between">
                                                                    <div style="display:flex; grid-gap:5%">

                                                                        <input type="time" name="startTime" asp-for="@item.LessonBefore.StartTime" disabled /> -
                                                                        <input type="time" name="endTime" asp-for="@item.LessonBefore.EndTime" disabled />
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="card col" style="margin:20px">
                                                        <div class="card-body">
                                                            <div>
                                                                <h4>Message</h4>
                                                                <div style="display:flex; justify-content:space-between">

                                                                    <div>@item.RequestMessage</div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="card col" style="margin:20px">

                                                        <!-- ADD GOGS (3) item.LessonBefore.StartTime
                                                        
                                                        -->

                                                        <div class="card-body">
                                                            <div>
                                                                <h4>Result</h4>
                                                                <div style="display:flex; justify-content:space-between">
                                                                    <form>
                                                                    <input type="hidden" asp-for="@item.Id"/>

                                                                    
                                                                        <input type="submit" asp-action="ApplyRequest" asp-controller="Request" asp-route-id="@item.Id" value="Apply request" class="btn btn-primary" />
                                                                        
                                                                        <input type="submit" asp-action="Reject" asp-controller="Request" asp-route-id="@item.Id" value="Reject request" class="btn btn-danger" />
                                                                        </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- add DOGs asp-route-id="item.Id"
                                                    <div class="card" style="margin:20px">
                                                    <div class="card-body">
                                                    <div>
                                                    {

                                                    <form>
                                                    <input type="hidden" name="answer" value="1" />
                                                    <input type="submit" asp-action="ApplyRequest" asp-controller="Request" asp-route-id="item.Id" value="Apply request" class="btn btn-primary" />
                                                    </form>
                                                    <form>
                                                    <input type="hidden" name="answer" value="-1" />
                                                    <input type="submit" asp-action="ApplyRequest" asp-controller="Request" asp-route-id="item.Id" value="Reject request" class="btn btn-danger" />
                                                    </form>

                                                    }
                                                    </div>
                                                    </div>
                                                    </div>
                                                    -->


                                                </div>
                                           
                                      



                    }
                    <!--
                    <form method="get"><a asp-action="Create" asp-controller="Cources"> CReate</a></form>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                }

            }
        }

        <!-- #/ container -->
    </div>

</div>

<script src="~/plugins/common/common.min.js"></script>
<script src="~/js/custom.min.js"></script>
<script src="~/js/settings.js"></script>
<script src="~/js/gleek.js"></script>
<script src="~/js/styleSwitcher.js"></script>



<div id="partialZone"></div>
    


