@* @model List<LessonType>?
@inject SkillsHub.Persistence.ApplicationDbContext _context;


         <!--  Cources For Children  -->
         <div id="english-children" ></div>
         <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5" style="align-self:baseline;">
               <img src="~/images/cources_children@0x.jpg" class="img-fluid " alt="cources_children" style="max-height: 350px; position: top;">
            </div>
            <div class="col-md-7">
               <h3 >Английский для детей</h3>
               <p class="fs-1">Курсы английского языка для детей от 4 до 16 лет
               </p>
               <ul class="list-conditions" style=" list-style: none; margin-left: -10px;">
                  <li></li>
               </ul>
               <div>
                  <ul class="list-unstyled py-3" id="scroll-children">
                     <!--1-->
                    
                     <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren1" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                        <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                           href="#collapseChildren1" role="button" aria-expanded="false" aria-controls="collapseExample"
                           class="foo1">
                        Для малышей 4-6 лет</a> 
                        <span class="foo1"><<</span>
                     </li>
                     <div class="collapse row text-md-start col-md-20" id="collapseChildren1">
                        <span class="far fa-check-circle  me-2"></span>
                        <ul class="list-conditions" style="padding-left: 4.2%; list-style: none;">
                           <li>- Групповой формат <span>(до 8 человек)</li>
                           <li>- 2-4 раза еженедельно</li>
                           <li>- Занятия проводятся 2-4 раза в неделю по 45 минут</li>
                           <li>- Групповые абонементы от @groupEnglishLT.MinCountLessonsToPay занятий (@groupEnglishLT.StudentTotalCoursePrice р)</li>
                           <li>- Цена одного занятия: @groupEnglishLT.StudentPricePerLesson р</li>               
                            <br/>

                        </ul>
                        <p></p>
                        <p style="padding-left: 4.2%; font-size: 16px;">
                           Малыши с легкостью впитывают информацию любого плана, если им правильно ее доносить. Применительно к английскому это значит, что языковые уроки для малышей необходимо проводить в развлекательно-игровом формате, регулярно и последовательно
                        </p>
                        <p style="padding-left: 4.2%; font-size: 16px;">
                           При создании этого курса методисты нашей школы использовали методику раннего развития в игровой форме, которая облегчает учебный процесс для детей. Малыши смогут узнать интересные факты о животных, о природе, о медицине, о городе и правилах движения, о магазинах и покупках. Обучение ведётся с помощью игрушек, красочных карточек, веселых песен и стихов, мультфильмов и игр.              
                        </p>
                     </div>
                        
                     <!--2-->
                     <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren2" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                        <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                           href="#collapseChildren2" role="button" aria-expanded="false" aria-controls="collapseExample"
                           >
                        Дети 7-10 лет</a> 
                        <span class="foo1"><<</span>
                     </li>
                     <div class="collapse row text-md-start col-md-20" id="collapseChildren2">
                        <span class="far fa-check-circle  me-2"></span>
                        <ul class="list-conditions" style="padding-left: 4.2%; list-style: none;">
                            <li>- Групповой формат <span>(до 8 человек)</li>
                            <li>- Онлайн/оффлайн</li>
                            <li>- Занятия проводятся 2 раза в неделю по @groupEnglishLT.LessonTimeInMinutes минут</li>
                            <li>- Групповые абонементы от @groupEnglishLT.MinCountLessonsToPay занятий (@groupEnglishLT.StudentTotalCoursePrice р)</li>
                            <br/>
                            <li>- Индивидуальный формат</li>
                            <li>- Онлайн/оффлайн</li>
                            <li>- Занятия проводятся по @individualEnglishLT.LessonTimeInMinutes минут</li>
                            <hr/>
                            <li>- Длительность зависит от скорости обучения учеников</li>
                            <li>
                                - Цена группового/индивидуального занятия: @groupEnglishLT.StudentPricePerLesson р/@individualEnglishLT.StudentPricePerLesson р
                            </li>
                                    
                        </ul>
                        <p></p>
                        <ul style="padding-left: 4.2%; list-style: none;" class="direction-educations list-conditions">
                           <li ><span>BEGINNERS</span> – уровень А1.1 (с нуля) </li>
                           <li ><span>ELEMENTARY</span> – уровень А1.2 </li>
                           <li ><span>PRE-INTERMEDIATE</span> – уровень А2 </li>
                        </ul>
                        <p></p>
                        <p style="padding-left: 4.2%; font-size: 16px;">
                           Малыши с легкостью впитывают информацию любого плана, если им правильно ее доносить. Применительно к английскому это значит, что языковые уроки для малышей необходимо проводить в развлекательно-игровом формате, регулярно и последовательно
                        </p>
                        <p style="padding-left: 4.2%; font-size: 16px;">
                           При создании этого курса методисты нашей школы использовали методику раннего развития в игровой форме, которая облегчает учебный процесс для детей. Малыши смогут узнать интересные факты о животных, о природе, о медицине, о городе и правилах движения, о магазинах и покупках. Обучение ведётся с помощью игрушек, красочных карточек, веселых песен и стихов, мультфильмов и игр.              
                        </p>
                     </div>
                     <!--3-->
                     <li class="mb-3 text-900" data-bs-toggle="collapse" href="#collapseChildren3" role="button" aria-expanded="false" aria-controls="collapseChildren1"><span class="far fa-check-circle text-700 me-2"></span>
                        <a style="color: #091E40;" id="button1" type="button" data-bs-toggle="collapse" 
                           href="#collapseChildren3" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Подростки 11-15 лет</a> 
                        <span class="foo1"><<</span>
                     </li>
                     <div class="collapse row text-md-start col-md-20" id="collapseChildren3">
                        <span class="far fa-check-circle  me-2"></span>
                        <ul style="padding-left: 4.2%; list-style: none;" class="list-conditions">
                                <li>- Групповой формат <span>(до 8 человек)</li>
                                <li>- Онлайн/оффлайн</li>
                                <li>- Занятия проводятся 2 раза в неделю по @groupEnglishLT.LessonTimeInMinutes минут</li>
                                <li>- Групповые абонементы от @groupEnglishLT.MinCountLessonsToPay занятий (@groupEnglishLT.StudentTotalCoursePrice р)</li>
                                <br />
                                
                                <li>- Индивидуальный формат</li>
                                <li>- Онлайн/оффлайн</li>
                                <li>- Занятия проводятся по @individualEnglishLT.LessonTimeInMinutes минут</li>
                                <hr />
                                <li>- Длительность зависит от скорости обучения учеников</li>
                                <li>
                                    - Цена группового/индивидуального занятия: @groupEnglishLT.StudentPricePerLesson р/@individualEnglishLT.StudentPricePerLesson р
                                </li>
                              
                        </ul>
                        <p></p>
                        <ul style="padding-left: 4.2%; list-style: none;" class="direction-educations list-conditions">
                           <li ><span>BEGINNERS</span> – уровень А1.1 (с нуля)</li>
                           <li ><span>ELEMENTARY</span> – уровень А1.2 </li>
                           <li ><span>PRE-INTERMEDIATE</span> – уровень А2</li>
                           <li ><span>INTERMEDIATE</span> – уровень B1 </li>
                        </ul>
                        <p></p>
                        <p style="padding-left: 4.2%; font-size: 16px;">
                           Обучение детей этого возраста направлено на формирование и развитие навыков свободного общения и расширение знаний в различных областях.
                        </p>
                        <p>Развиваем навыки:</p>
                        <ul style="padding-left: 4.2%; list-style: none;">
                           <li style="font-size: 16px;">
                              Построение диалогов : обсуждать интересы, планы, выражать согласие/несогласие, интерес, навык вести диалог сразу с несколькими собеседниками.
                           </li>
                           <li style="font-size: 16px;">
                              Монолог : представлять сообщение, излагать факты, высказывать свое отношение к услышанному или прочитанному, пересказывать.
                           </li>
                           <li style="font-size: 16px;">
                              Аудирование : понимать речь и содержание услышанного, извлекать главное, давать критическую оценку прослушанного.
                           </li>
                           <li style="font-size: 16px;">
                              Чтение : свободно читать публицистическую, научно-популярную, страноведческую, художественную литературу.
                           </li>
                        </ul>
                     </div>
                  </ul>
               </div>
               <a type="button" href="#booking" class="btn btn-primary" >Записаться</a>
            </div>
         </div>
 *@