@model (IQueryable<GroupType>?,Guid)
@{
    ViewData["Title"] = "Create";
}

@{
    if (Model.Item1 == null || Model.Item1.Count() == 0)
    {
        <option>List is empty</option>
    }

    else
    {
        @foreach (var item in Model.Item1.Where(x => x.IsDeleted == false).ToList())
        {
            
            var min = @item.MinCountStudents;
            var max = @item.MaxCountStudents;
            
             


            if (Model.Item2 == item.Id)
            {
                <option selected="selected"  value="@item.Id">@item.Name
                    @{
                        if (min == max)
                        {
                            <span>(@min human)</span>
                        }
                        else
                        {
                            <span>(@min - @max)</span>
                        }
                    }
               </option>
            }
            else
            {
                <option  value="@item.Id">@item.Name
                    @{
                        if (min == max)
                        {
                            <span>(@min human)</span>
                        }
                        else
                        {
                            <span>(@min - @max)</span>
                        }
                    } 
                </option>
            }

        }
    }
}